/* Overlay */



/* Features */
/* .element::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--background-button);
    border-radius: 4px;
} */
/* 
.icon-antenna::before {
    background-image: url(../images/svg/antenna.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
} */

.icon-clock::before {
    background-image: url(../images/svg/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.icon-diagram::before {
    background-image: url(../images/svg/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}
.icon-astronaut::before {
    background-image: url(../images/svg/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}