.client-section {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    
    @include for-size(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.client-title {
    text-align: center;
    
    @include for-size(desktop) {
        font-size: 36px;
    }
}

.client-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    @include for-size(desktop) {
        flex-wrap: nowrap;
    }
}

.client-item {
    display: block;
    width: 50%;
    &:hover,
    &:focus {
    color: $accent-color;
    border-color: $accent-color;
    &:not(:last-child) {
        margin-bottom: 10px;
}

    @include for-size(tablet-landscape) {
        width: 33,3333%;
    }
    @include for-size(desktop) {
        min-width: 170px;
        height: 92px;
        padding: 16px 32px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.client-link {
    display: block;
    width: 50%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    background-color: #fff;
    
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier $timing;
    &:hover,
    &:focus {
    color: $accent-color;
    border-color: $accent-color;
    }

    @include for-size(tablet-landscape) {
        width: 33.3333%
    }
    @include for-size(desktop) {
        display: block;
        width: 170px;
        height: 90px;
        padding: 16px 32px;
        }
    }
    

.client-icon {
    fill: currentColor;
}