.features.list {
    & h3 {
        margin-top: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    & p {
        margin: 0;
    }
    @include for-size(tablet-landscape) {
        width: 768px;
    }
    @include for-size(desktop) {
        display: flex;
        }
    }
    
.element {
    margin-bottom: 30px;
    @include for-size(tablet-landscape) {
        width: 768px;
    }
    @include for-size(desktop) {
        &:not(:last-child){
        margin-right: 30px;
        min-width: 270px;
        }
    }
}

.benefits {
    padding-top: 60px;
    @include for-size(tablet-landscape) {
        width: 768px;
    }
    @include for-size(desktop) {
        justify-content: space-between;
        padding-top: 94px;
    }
}

.icon-antenna {
    display: block;
    width: 70px;
    height: 65px;
    margin: 0 auto;
}

.element-antena {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 120px;
    margin-bottom: 30px;
    background-color: $background-button;
    border-radius: 4px;
    @include for-size(tablet-landscape) {
        display: block;
        width: 768px;
    }
    @include for-size(desktop) {
        display: block;
        width: 270px;
    }
}

.features .title {
    color: $title-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}