.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    @include for-size(desktop) {
        min-height: 252px;
        text-align: left;
    }
}

.logo-link.foot {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
   
    @include for-size(desktop) {
        display: flex;
        font-size: 26px;
    }
}

.logo-link .foot span {
    color: $accent-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    
    @include for-size(desktop) {
        font-size: 26px;
    }
}

.adress-item {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
    margin-bottom: 9px;
    margin-top: 0;

    @include for-size(desktop) {
        justify-content: flex-start;
        margin: 0;
    }
}

.title-foot {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.flexbox {
    align-items: center;

    @include for-size(tablet-landscape) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include for-size(desktop) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }  
}

.footer-nav {
    display: inline-block;
    margin-bottom: 60px;

    @include for-size(tablet-landscape) {
        margin-right: 165px;
    }

    @include for-size(desktop) {
        width: 220px;
        margin-right: 0;
        margin-bottom: 0;
    }
}

.sicial-list-foot {
    margin-bottom: 60px;

    @include for-size(tablet-landscape) {
        margin-bottom: 110px;
    }

    @include for-size(desktop) {
        margin-bottom: 20px;
    }
}

.social-foot {
    margin-right: 10px;
    &>a:hover,
    &>a:focus {
    background-color: $accent-color;
}
}

.social-icon-foot {
    fill: #FFFFFF;
}

.social-link-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier $timing;
}

.btnFooter {
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 0 auto;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    color: #FFFFFF;
    background-color: $accent-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    @include for-size(desktop) {
        margin-left: 12px;
    }
}

.btnContainer {
    display: inline-block;

    @include for-size(desktop) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
}

.icon-send {
    width: 24px;
    height: 24px;
    fill: #fff;
    margin-left: 10px; 
}

.subscription {
    margin-bottom: 0;
    
    @include for-size(desktop) {
        margin-bottom: 10px;
    }
}

.subscription input {
    width: 100%;
    min-width: 450px;
    min-height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    color: #fff;

    @media screen and (max-width: 479px){
        min-width: 300px;
    }

    @include for-size(desktop) {
        min-width: 358px;
        margin-bottom: 0;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}