.works {
    display: none;
    @include for-size(desktop) {
        display: flex;
        justify-content: space-between;
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
}
.work.list {
    
    @include for-size(desktop) {
        display: flex;
        justify-content: space-between;
    }
    
    & p {
        margin: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
.img-wl {
    position: relative;
}

.work-description {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    padding-top: 27px;
    background: rgba(47, 48, 58, 0.8);
}