.example {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 56px;
    padding-bottom: 94px;
    margin: -15px;
}

.techno {
    position: relative;
    overflow: hidden;
}

.resourse-description {
    position: absolute;
    bottom: 0;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier $timing;
}

.box-2>a:hover .resourse-description,
.box-2>a:focus .resourse-description {
    opacity: 1;
    transform: translateY(0);
}

.page-secondary .item {
    width: 370px;
    min-height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    @include for-size(tablet-landscape) {
        display: block;
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
    @include for-size(desktop) {
        display: block;
        width: calc((100% - 3 * 30px) / 3);
        min-height: 370px;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    &:not(:last-child) {
        @media screen and (max-width: 479px) {
            margin-bottom: 30px;
        }
        
    }

    // &:nth-child(3n){
    //     @media screen and (max-width: 1200px) {
    //         margin-right: 0;
    //         }
    //     }

    // &:nth-last-child(-n + 3) {
    //     @media screen and (max-width: 1200px) {
    //         margin-bottom: 0;
    //         }
    //     }

    & h3 {
        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $title-text-color;
    }
    & p {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        color: $primary-text-color;
    }
    & .resourse-description p {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    // &:nth-child(3n) {
    //     margin-right: 0;
    // }
    // &:nth-last-child(-n + 3) {
    //     margin-bottom: 0;
    // }
}

.box-1 {
    padding: 20px 24px;
}
