.filters {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    @include for-size(tablet-landscape) {
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.button-filter {
    padding: 6px 22px;
    margin-right: 8px;
    margin-bottom: 15px;
    color: $title-text-color;
    background-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier $timing;
    &:hover,
    &:focus {
    color: #FFFFFF;
    background-color: $accent-color;
}
}

.filters.list {
    padding-top: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;

    @include for-size(desktop) {
        padding-top: 94px;
    }

    & li:not(:last-child) {
        @include for-size(desktop) {
            margin-right: 8px;
        }
    }
}

